- p = StaffMemberFormPresenter.new(f, self)
= p.notes
- p.with_options(required: true) do |q|
  = q.text_field_block(:email, "メールアドレス", size: 32)
  = q.password_field_block(:password, "パスワード", size: 32)
  = q.full_name_block(:family_name, :given_name,"氏名")
  = q.full_name_block(:family_name_kana, :given_name_kana, "フリガナ")
  = q.date_field_block(:start_date, "入社日")
  = q.date_field_block(:end_date, "退社日", required: false)
= p.suspended_check_box
