= f.fields_for :customer, f.object.customer do |ff|
  - p = confirming ? ConfirmingCustomerFormPresenter.new(ff, self) : CustomerFormPresenter.new(ff, self)
  - p.with_options(required: true) do |q|
    = q.text_field_block(:email, "メールアドレス", size: 32,
      disable: true)
    = q.full_name_block(:family_name, :given_name, "氏名")
    = q.full_name_block(:family_name_kana, :given_name_kana, "フリガナ")

  = p.date_field_block(:birthday, "生年月日")
  = p.gender_field_block
  = markup(:div, class: "input-block") do |m|
    - m << p.decorated_label(:personal_phones, "電話番号")
    - m.ol do
      - p.object.personal_phones.each_with_index do |phone, index|
        - if confirming
          - m << render("confirming_phone_fields", f: ff, phone: phone, index: index)
        - else
          - m << render("phone_fields", f: ff, phone: phone, index: index)
