= f.fields_for :home_address, f.object.customer.home_address do |ff|
  - p = AddressFormPresenter.new(ff, self)
  - p.with_options(required: true) do |q|
    = q.postal_code_block(:postal_code, "郵便番号", size: 7)
    = q.drop_down_list(:prefecture, "都道府県", Address::PREFECTURE_NAMES)
    = q.text_field_block(:city, "市区町村", size: 16)
    = q.text_field_block(:address1, "町域、番地等", size: 40)
  = p.text_field_block(:address2, "建物名、部屋番号等", size: 40)
  = markup(:div, class: "input-block") do |m|
    - m << p.decorated_label(:personal_phones, "電話番号")
    - m.ol do
      - p.object.phones.each_with_index do |phone, index|
        - m << render("phone_fields", f: ff, phone: phone, index: index)
